version: "3"

services:

  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - ./src:/app
    ports:
      - "33000:3000"
    tty: true
    stdin_open: true
    depends_on:
      - db

  db:
    image: mysql:5.7
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "33306:3306"
    env_file:
      - ./docker/db/db-variables.env

volumes:
  db-data:
